.comments {
  margin-bottom: 185px;
  z-index: 20;

  @include desktop {
    margin-bottom: 210px;
  }

  @include tablets {
    margin-bottom: 120px;
  }

  @include phones {
    margin-bottom: 150px;
  }
}

