.works {
  padding: 115px 0 210px 0;

  @include desktop {
    padding: 140px 0 155px 0;
  }

  @include tablets {
    padding: 140px 0 135px 0;
  }

  @include phones {
    padding: 100px 0 118px 0;
  }
}

.works__title {
  margin-bottom: 90px;
  color: $slaid-btn-color;

  @include desktop {
    margin-bottom: 70px;
  }

  @include tablets {
    margin-bottom: 50px;
  }

  @include phones {
    margin-bottom: 35px;
    text-align: center;
  }
}