footer.footer
  .container
    .footer__wrapper
      .footer__year &copy 2019
      .footer__creator
        .footer__name Александр Арнаутов
        .footer__private 
          span.footer__private-wrap Личный сайт  
          span.footer__private-wrap веб-разработчика
      .footer__main
        include nav
        +menu("footer")
        .footer__info
          .footer__sites
            p.footer__sites-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            include socials
            +iconList("footer")
          .footer__article
            blockquote.footer__quote 
              p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              cite.footer__quote-autor Martin Golding