form.form(action="" name="form")
  .form__data
    label.form__label.form__label_alignment(for="name")
      .form__svg
        +icon("user", "form__icon")
      .form__block
        .form__name Введите ваше имя
        input.form__enter-text#name(type="text" placeholder="Ковальчук Дмитрий")
    label.form__label(for="email")
      .form__svg
        +icon("envelope", "form__icon")
      .form__block
        .form__name Введите ваш email
        input.form__enter-text#email(type="mail" placeholder="loftschool@study.com")
  .form__message
    label.form__label(for="message")
      .form__svg.form__svg_up
        +icon("message", "form__icon")
      .form__block
        .form__name Сообщение к письму
        textarea.form__enter-text#message(type="textarea" rows="2"  placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
  .form__btn
    button.form__push(type="submit") Отправить