.parallax
  .parallax__wrapper
    .parallax__layer
      +image("content/parallax_bg.png", "parallax__img", "Parallax")
    .parallax__layer(data-speed="0.1")
      +image("content/parallax_1.png", "parallax__img", "Parallax")
    .parallax__layer(data-speed="0.2")
      +image("content/parallax_2.png", "parallax__img", "Parallax")
    .parallax__layer(data-speed="0.3")
      +image("content/parallax_3.png", "parallax__img", "Parallax")
