.parallax
  .parallax__wrapper
    .parallax__layer
      +image("content/layer_1.png", "parallax__img", "Parallax")
    .parallax__layer(data-speed="0.05")
      +image("content/layer_2.png", "parallax__img", "Parallax")
    .parallax__layer(data-speed="0.1")
      +image("content/layer_3.png", "parallax__img", "Parallax")
    .parallax__layer(data-speed="0.2")
      +image("content/layer_4.png", "parallax__img", "Parallax")
    .parallax__layer
