script(type="text/x-texplate")#review-template
  .comments__slider
    .comments__header
      h2.comments__title.title Что обо мне говорят
      .comments__control
        button.comments__arrow(type="button" @click="next()")
          +icon("arrow-down", "comments__click comments__click-prev")
        button.comments__arrow(type="button" @click="previous()" )
          +icon("arrow-down", "comments__click comments__click-next")
    .comments__people
      flickity(ref="flickity" :options="flickityOptions")
        li.comments__item(
          v-for="item in items"
          :key="item.id"
          )
          list(:item="item")

script(type="text/x-texplate")#review-list-template
  .comment__block
    .comments__icon
      +icon("quote", "comments__svg")
    .comments__info
      p {{item.text}}
      .comments__dude
        .comments__pic
          img.comments__img(:src="item.url", alt="Фото оставляющего комментарий")
        .comments__data
          span {{item.name}}
          span {{item.position}}
