
section.skills
  .container 
    .skills__container
      .skills__header
        h2 Чем я могу быть полезен вам
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills__power
        .skills__front
          h3 Front-end
          +svgList(["GIT", "Terminal", "Gulp", "Webpack"], [130, 80, 160 ,50])
        .skills__workflow
          h3 Workflow
          +svgList(["GIT", "Terminal", "Gulp", "Webpack"], [130, 80, 160 ,50])




