section.works
  .container.container__full-screen
    .works__wrapper
      h2.title Мои работы
      .works__content
        .works__slaider
          +image("content/slaid_1.jpg", "works__img", "Образец работы")
          .works__mini-slaider
            ul.works__mini-slaider-list
              -
                var imgLists = ["content/mini_slaid_1.jpg",
                                "content/mini_slaid_2.jpg",
                                "content/mini_slaid_3.jpg",
                                "content/mini_slaid_4.jpg"]
              each img in imgLists
                li.works__mini-slaider-item
                  +image(img, "works__mini-slaider-img", "Образец работы в слайдере")
            .works__slaider-controls
              button.works__slaider-btn
                +icon("arrow-down", "works__slaider-btn-prev works__btn-active")
              button.works__slaider-btn
                +icon("arrow-down", "works__slaider-btn-next")
          .works__slaider-index
            span 2
        .works__info
          +listLinks("works", ["HTML", "CSS", "Javascript"])
          h3 Сайт школы образования
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          a.works__link(href="#")
            +icon("link", "works__svg")
            span Посмотреть сайт