include ./mixins.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body.body
    .wrapper
      include components/parallax
      .maincontent
        .container.container_hero
          include components/header
          include components/hero
          include components/scroll
        include components/about
        include components/skills
        include components/works
        include components/container-review
        include components/footer
      include components/skills-widget
      include components/works-slider
      include components/review-slider
      include components/menu
      include components/popup



